# Uebung 2

# 1) Hauptkomponentenanalyse

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
cols = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'TGT']
boston = pd.read_csv(url, sep=' ', skipinitialspace=True, header=None, names=cols, index_col=False)
date_downloaded = !date
date_downloaded

['Mon Nov  7 13:41:08 UTC 2016']

In [3]:
boston.dropna()
boston.drop_duplicates()
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TGT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
x = boston.mean()
x

CRIM         3.613524
ZN          11.363636
INDUS       11.136779
CHAS         0.069170
NOX          0.554695
RM           6.284634
AGE         68.574901
DIS          3.795043
RAD          9.549407
TAX        408.237154
PTRATIO     18.455534
B          356.674032
LSTAT       12.653063
TGT         22.532806
dtype: float64

In [5]:
centralized = boston.copy()
centralized.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TGT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
centralized=centralized.sub(centralized.mean(axis=0), axis=1)
centralized.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TGT
0,-3.607204,6.636364,-8.826779,-0.06917,-0.016695,0.290366,-3.374901,0.294957,-8.549407,-112.237154,-3.155534,40.225968,-7.673063,1.467194
1,-3.586214,-11.363636,-4.066779,-0.06917,-0.085695,0.136366,10.325099,1.172057,-7.549407,-166.237154,-0.655534,40.225968,-3.513063,-0.932806
2,-3.586234,-11.363636,-4.066779,-0.06917,-0.085695,0.900366,-7.474901,1.172057,-7.549407,-166.237154,-0.655534,36.155968,-8.623063,12.167194
3,-3.581154,-11.363636,-8.956779,-0.06917,-0.096695,0.713366,-22.774901,2.267157,-6.549407,-186.237154,0.244466,37.955968,-9.713063,10.867194
4,-3.544474,-11.363636,-8.956779,-0.06917,-0.096695,0.862366,-14.374901,2.267157,-6.549407,-186.237154,0.244466,40.225968,-7.323063,13.667194

In [14]:
normalized = centralized / (centralized.max() - centralized.min())
normalized.max() - normalized.min()

CRIM       1.0
ZN         1.0
INDUS      1.0
CHAS       1.0
NOX        1.0
RM         1.0
AGE        1.0
DIS        1.0
RAD        1.0
TAX        1.0
PTRATIO    1.0
B          1.0
LSTAT      1.0
TGT        1.0
dtype: float64

In [15]:
X = normalized.as_matrix()
X

array([[-0.0405441 ,  0.06636364, -0.32356227, ...,  0.10143217,
        -0.21172912,  0.0326043 ],
       [-0.04030818, -0.11363636, -0.14907546, ...,  0.10143217,
        -0.09693883, -0.02072903],
       [-0.0403084 , -0.11363636, -0.14907546, ...,  0.09116942,
        -0.23794325,  0.27038208],
       ...,
       [-0.03993221, -0.11363636,  0.02907703, ...,  0.10143217,
        -0.1935172 ,  0.03038208],
       [-0.03938337, -0.11363636,  0.02907703, ...,  0.09273279,
        -0.17033839, -0.01184014],
       [-0.04008226, -0.11363636,  0.02907703, ...,  0.10143217,
        -0.13170704, -0.23628458]])

In [21]:
U, D, Vt = np.linalg.svd(X, full_matrices=True)
U.shape, D.shape, Vt.shape

((506, 506), (14,), (14, 14))

Die ersten r Hauptkomponenten sind die ersten r Spalten von V.

In [31]:
principal_components = Vt.transpose()
#Vt == V.transpose()

Die Projektion ai der Daten xi auf die ersten r Hauptkomponenten sind die ersten r Spalte von UD.

In [27]:
d = np.zeros((506, 14))
d[:14, :14] = np.diag(D)
UD = np.dot(U, d)
UD.shape

(506, 14)

In [35]:
d2 = D / len(D)-1
d2

array([ 0.05258996, -0.49825678, -0.56024233, -0.64189091, -0.6643177 ,
       -0.70239218, -0.74487812, -0.77314568, -0.83201064, -0.8412398 ,
       -0.86522863, -0.87072798, -0.87453414, -0.8946922 ])